<h4>Internal Server Error - Refreshing the page will make the error disapper</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: If you are seeing this then angular is probably not the problem</p>
  <p>What to do next?</p>
  <ol>
    <li>Open browser dev tools.  Check for failing network requests</li>
    <li>Examine the request url.  What API endpoint are you requesting?</li>
    <li>Reproduce the problem in Postman</li>
  </ol>
  <p class="font-weight-bold">Following is the stack trace</p>
  <code class="mt-5" style="background-color: whitesmoke;">
    {{error.details}}
  </code>
</ng-container>
