<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dating App</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Messages</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome user</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()" >Logout</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>