.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent
}

.not-approved {
    opacity: 0.2;
}

.img-wrapper {
    position: relative
}

.img-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
}